<h1>Todo Widget</h1>

<ng-container>
  <app-todo-create-form-ui
    (create)="onCreate($event)"
  ></app-todo-create-form-ui>
  <app-todo-list-ui [todoList]="todoList"></app-todo-list-ui>
</ng-container>

<a routerLink="/" class="backButton">Back</a>
<ng-container>
  <select (input)="handleInput($event)">
    <option
      *ngFor="let obj of planList; let value = index"
      value="{{ value + 1 }}"
    >
      <a routerLink="todo/some/{{obj.id}}">{{ obj.id }}</a>
    </option>
  </select>
  <a [routerLink]="'some/'+urlNum">some/{{ urlNum }}</a>
</ng-container>
